/* Egggggggg */
.egg-container {
  position: absolute;
}

.egg-container-1 {
  top: 30%;
  left: 68%;
}

.egg-container-2 {
  top: 40%;
  left: 5%;
}

.egg-container-3 {
  top: 50%;
  left: 5%;
}

.egg-container-4 {
  top: 60%;
  right: 5%;
}

.egg-container-5 {
  top: 70%;
  left: -20%;
}

.egg {
  max-width: 60px;
  height: auto;
  display: block;
  cursor: pointer;
}
/* 
.egg:hover {
  transform: scale(1.25);
} */

.has-egg {
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}

.animation-egg-peak-right {
  animation-name: egg-peak-right;
  animation-timing-function: ease-in-out;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.disappear,
.hidden {
  display: none;
}

@keyframes egg-peak-right {
  0% {
    transform: rotate(0);
  }

  65% {
    transform: rotate(0);
  }
  70% {
    transform: rotate(50deg);
  }
  72% {
    transform: rotate(35deg);
  }
  74% {
    transform: rotate(55deg);
  }
  76% {
    transform: rotate(35deg);
  }
  78% {
    transform: rotate(55deg);
  }
  80% {
    transform: rotate(35deg);
  }
  82% {
    transform: rotate(45deg);
  }
  95% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0);
  }
}

.egg-move-right {
  animation-name: egg-move-right;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes egg-move-right {
  0% {
    transform: translateX(0);
  }

  65% {
    transform: translateX(0);
  }
  70% {
    transform: translateX(50%);
  }
  95% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Modal */
.modal h3 {
  font-size: 1.8rem;
}

/* Konkurrence info */
.konkurrence-info {
  position: relative;
}

#basket {
  width: 200px;
  height: auto;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
}

#basket h2 {
  font-size: 2.5rem;
}

/* Toast */
#liveToastDiv {
  bottom: 30vw;
  right: 0;
}

#liveToast {
  max-width: 250px;
}
.toast-titel,
.modal h3 {
  font-family: var(--primary-font);
  margin-right: auto;
  color: var(--main-text-color);
  font-size: 2.4rem;
  font-weight: bold;
}

#liveToast p,
.modal p,
.modal label,
#emailHelp,
.modal button,
.modal input {
  font-size: 1.5rem;
}

@media only screen and (min-width: 400px) {
  #basket {
    width: 250px;
  }

  #basket h2 {
    font-size: 3.5rem;
  }

  /* Toast  */
  #liveToastDiv {
    bottom: 25vw;
    right: 0;
  }

  #liveToast {
    max-width: 350px;
  }

  .toast-titel,
  .modal h3 {
    font-size: 1.8rem;
  }

  #liveToast p,
  .modal p,
  .modal label,
  #emailHelp,
  .modal button,
  .modal input {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 600px) {
  #basket {
    width: 300px;
  }

  #basket h2 {
    font-size: 4.5rem;
  }

  /* Toast  */
  #liveToastDiv {
    bottom: 25vw;
    right: 0;
  }

  .toast-titel,
  .modal h3 {
    font-size: 2.2rem;
  }

  #liveToast p,
  .modal p,
  .modal label,
  #emailHelp,
  .modal button,
  .modal input {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1000px) {
  /* Toast  */
  #liveToastDiv {
    bottom: 15vw;
    right: 0;
  }
}

@media only screen and (min-width: 1400px) {
  /* Toast  */
  #liveToastDiv {
    bottom: 10vw;
    right: 0;
  }
}
