/* Eggggggggssssssssssssss */
.egg-container {
  position: absolute;
  z-index: 1;
}

.egg-container-1 {
  left: 0;
  top: 30%;
}

.egg-container-2 {
  bottom: 0;
  right: calc(50% + 30px);
}

.egg-container-3 {
  top: 50%;
  left: 8.5%;
}

/* .egg-container-4 {
  top: 0%;
  right: calc(50% - 47px);
} */

.egg-container-4 {
  top: 0%;
  right: calc(50% - 47px);
}

.egg-container-5 {
  top: 0%;
  right: 5%;
}

.egg {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 46.5px;
}

@media only screen and (min-width: 450px) {
  .egg {
    width: 45px;
    height: 69.75px;
  }
}

/* @media only screen and (min-width: 600px) {
  .egg {
    width: 60px;
    height: 93px;
  }
} */

.egg-container:hover {
  transform: scale(1.2);
}

.has-egg {
  position: relative;
  z-index: 1;
}

.hidden {
  display: none;
}

.animation-egg-peak-right {
  animation-name: egg-peak-right;
  animation-timing-function: ease-in-out;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes egg-peak-right {
  0% {
    transform: rotate(0);
  }

  65% {
    transform: rotate(0);
  }
  70% {
    transform: rotate(50deg);
  }
  72% {
    transform: rotate(35deg);
  }
  74% {
    transform: rotate(55deg);
  }
  76% {
    transform: rotate(35deg);
  }
  78% {
    transform: rotate(55deg);
  }
  80% {
    transform: rotate(35deg);
  }
  82% {
    transform: rotate(45deg);
  }
  95% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0);
  }
}

.animation-egg-peak-left {
  animation-name: egg-peak-left;
  animation-timing-function: ease-in-out;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes egg-peak-left {
  0% {
    transform: rotate(0);
  }

  65% {
    transform: rotate(0);
  }
  70% {
    transform: rotate(-50deg);
  }
  72% {
    transform: rotate(-35deg);
  }
  74% {
    transform: rotate(-55deg);
  }
  76% {
    transform: rotate(-35deg);
  }
  78% {
    transform: rotate(-55deg);
  }
  80% {
    transform: rotate(-35deg);
  }
  82% {
    transform: rotate(-45deg);
  }
  95% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0);
  }
}

.egg-move-right {
  animation-name: egg-move-right;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes egg-move-right {
  0% {
    transform: translateX(0);
  }

  65% {
    transform: translateX(0);
  }
  70% {
    transform: translateX(70%);
  }
  95% {
    transform: translateX(70%);
  }
  100% {
    transform: translateX(0);
  }
}

.egg-move-left {
  animation-name: egg-move-left;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes egg-move-left {
  0% {
    transform: translateX(0);
  }

  65% {
    transform: translateX(0);
  }
  70% {
    transform: translateX(-70%);
  }
  95% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(0);
  }
}

.egg-move-top {
  animation-name: egg-move-top;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes egg-move-top {
  0% {
    transform: translateY(0);
  }

  65% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-70%);
  }
  95% {
    transform: translateY(-70%);
  }
  100% {
    transform: translateY(0);
  }
}

.egg-opacity {
  animation-name: egg-opacity;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes egg-opacity {
  0% {
    transform: rotate(0);
    opacity: 0;
  }

  65% {
    transform: rotate(0);
    opacity: 0;
  }
  70% {
    transform: rotate(-50deg);
    opacity: 1;
  }
  72% {
    transform: rotate(-35deg);
    opacity: 1;
  }
  74% {
    transform: rotate(-55deg);
    opacity: 1;
  }
  76% {
    transform: rotate(-35deg);
    opacity: 1;
  }
  78% {
    transform: rotate(-55deg);
    opacity: 1;
  }
  80% {
    transform: rotate(-35deg);
    opacity: 1;
  }
  82% {
    transform: rotate(-45deg);
    opacity: 1;
  }
  95% {
    transform: rotate(-45deg);
    opacity: 1;
  }
  100% {
    transform: rotate(0);
    opacity: 0;
  }
}

.egg-opacity-right {
  animation-name: egg-opacity-right;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes egg-opacity-right {
  0% {
    transform: rotate(0);
    opacity: 0;
  }

  65% {
    transform: rotate(0);
    opacity: 0;
  }
  70% {
    transform: rotate(50deg);
    opacity: 1;
  }
  72% {
    transform: rotate(35deg);
    opacity: 1;
  }
  74% {
    transform: rotate(55deg);
    opacity: 1;
  }
  76% {
    transform: rotate(35deg);
    opacity: 1;
  }
  78% {
    transform: rotate(55deg);
    opacity: 1;
  }
  80% {
    transform: rotate(35deg);
    opacity: 1;
  }
  82% {
    transform: rotate(45deg);
    opacity: 1;
  }
  95% {
    transform: rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: rotate(0);
    opacity: 0;
  }
}

/* Modal */
.modal h3 {
  font-size: 1.8rem;
}

/* Konkurrence info */
.konkurrence-info {
  position: relative;
}

#basket {
  width: 180px;
  height: auto;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
}

#basket h2 {
  font-size: 2.5rem;
}

/* Toast */
#liveToastDiv {
  bottom: 30vw;
  right: 0;
}

#liveToast {
  max-width: 250px;
}
.toast-titel,
.modal h3 {
  font-family: var(--primary-font);
  margin-right: auto;
  color: var(--main-text-color);
  font-size: 2.4rem;
  font-weight: bold;
}

#liveToast p,
.modal p,
.modal label,
#emailHelp,
.modal button,
.modal input {
  font-size: 1.5rem;
}

@media only screen and (min-width: 400px) {
  #basket {
    width: 220px;
  }

  #basket h2 {
    font-size: 3.5rem;
  }

  /* Toast  */
  #liveToastDiv {
    bottom: 25vw;
    right: 0;
  }

  #liveToast {
    max-width: 350px;
  }

  .toast-titel,
  .modal h3 {
    font-size: 1.8rem;
  }

  #liveToast p,
  .modal p,
  .modal label,
  #emailHelp,
  .modal button,
  .modal input {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 600px) {
  #basket {
    width: 250px;
  }

  #basket h2 {
    font-size: 4.5rem;
  }

  /* Toast  */
  #liveToastDiv {
    bottom: 25vw;
    right: 0;
  }

  .toast-titel,
  .modal h3 {
    font-size: 2.5rem;
  }

  #liveToast p,
  .modal p,
  .modal label,
  #emailHelp,
  .modal button,
  .modal input {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1000px) {
  #basket {
    width: 300px;
  }

  /* Toast  */
  #liveToastDiv {
    bottom: 15vw;
    right: 0;
  }

  .modal h3 {
    font-size: 3.8rem;
  }
}

@media only screen and (min-width: 1400px) {
  /* Toast  */
  #liveToastDiv {
    bottom: 10vw;
    right: 0;
  }
}
