:root {
  /* Fonts */
  --primary-font: "league_gothicregular", sans-serif;
  --secondary-font: "Arsenal", sans-serif;

  /* Colors */
  --main-text-color: #3b2b4b;
  --nav-text-color: #47325a;
  --nav-text-color-hover: #3a0b63;
  --bg-color: linear-gradient(
    150deg,
    #fcfcf0,
    #edfcfc,
    #f8edfa,
    #f0fbfc,
    #fcfcf0
  );
  --nav-gradient: linear-gradient(150deg, #fcfcf0, #f3fcf6);

  --mb-sm-custom: 7rem;
  --mb-md-custom: 12rem;
  --mb-lg-custom: 20rem;
  --mb-xl-custom: 22rem;
}

html {
  font-size: 62.5%;
  background-image: var(--bg-color);
  background-color: #fcfcf0;
}

/* Fonts */

@font-face {
  font-family: "league_gothicregular";
  src: url("../fonts/leaguegothic-regular-webfont.woff2") format("woff2"),
    url("../fonts/leaguegothic-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Til styling needs - skal fjernes XX */
/* .row {
  border: 1px solid red;
}

.col {
  border: 1px solid blue;
} */

/* slut på skal fjernes */

body {
  background-image: var(--bg-color);
}

section,
header {
  margin-bottom: var(--mb-sm-custom);
}

@media only screen and (min-width: 450px) {
  section {
    margin-bottom: var(--mb-md-custom);
  }
}

@media only screen and (min-width: 650px) {
  section {
    margin-bottom: var(--mb-lg-custom);
  }
}

@media only screen and (min-width: 950px) {
  section {
    margin-bottom: var(--mb-xl-custom);
  }
}

/* Styling af fonte  */
h1,
h2,
p,
a {
  color: var(--main-text-color);
}

h1 {
  font-family: var(--primary-font);
  font-size: 5rem;
}

h2 {
  font-family: var(--primary-font);
  font-size: 2.8rem;
}

.h2-special {
  font-family: var(--secondary-font);
}

h3 {
  font-family: var(--secondary-font);
  font-size: 3.2rem;
  color: var(--main-text-color);
}

p {
  font-family: var(--secondary-font);
  font-size: 1.8rem;
}

#splash a,
#sektion-6 a {
  font-family: var(--secondary-font);
  font-size: 1.5rem;
}

.tekst-bredde {
  width: 100%;
}

@media only screen and (min-width: 450px) {
  h1 {
    font-size: 13rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  p,
  label {
    font-size: 1.6rem;
  }

  #splash a,
  #sektion-6 a {
    font-family: var(--secondary-font);
    font-size: 1.8rem;
  }

  .tekst-bredde {
    width: 75%;
  }
}

@media only screen and (min-width: 650px) {
  p,
  label {
    font-size: 1.8rem;
  }
}

/* Splash */
.btn-outline-dark {
  color: var(--nav-text-color);
  border-color: var(--main-text-color);
  box-shadow: 2px 2px 2px #40364915;
}
.btn-outline-dark:hover {
  background-color: var(--main-text-color);
  color: white;
}

#splash img {
  display: block;
  margin-right: 0rem;
}

@media only screen and (min-width: 768px) {
  #splash img {
    margin-right: 10rem;
  }
}

/* Billede styling  */
.kram-billede {
  background-image: url(../img/kram2.jpg);
  clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
}

.overraskelses-billede {
  background-image: url(../img/overraskelse.jpg);
  clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
}

.kram-billede,
.overraskelses-billede {
  background-size: cover;
  height: 300px;
  /* width: 50%; */
  margin-left: auto;
  background-position: top center;
  /* opacity: 1; */
  filter: saturate(65%);
}

@media only screen and (min-width: 500px) {
  .kram-billede,
  .overraskelses-billede {
    height: 450px;
  }
}

@media only screen and (min-width: 600px) {
  .kram-billede,
  .overraskelses-billede {
    height: 650px;
  }
}

/* Nav bar  */
.nav-baggrund {
  background-image: var(--nav-gradient);
  box-shadow: 2px 2px 8px #f2f2f2;
}

.navbar-light .navbar-nav .nav-link {
  font-family: var(--secondary-font);
  font-size: 2rem;
  color: var(--nav-text-color);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--nav-text-color-hover);
  text-decoration: underline;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(59,43,75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
  border: none;
}

.navbar-toggler {
  font-size: 2.5rem;
}

/* Infografik karrusel */
/* #infografik-carousel-mobile {
  height: 800px;
} */

/* .infografik-mobile-baggrund {
  display: none;
} */

/* #infografik .carousel-inner {
  background-image: url(../img/infografik-mobile/mobile-infografik-baggrund.png);
  background-size: cover;
  height: 1367px;
} */
/* #infografik-carousel-mobile .carousel-inner {
  background-image: url(../img/infografik-mobile/mobile-infografik-baggrund.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: static;
} */

#infografik-carousel-mobile {
  position: relative;
}

#infografik-carousel-mobile .carousel-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#infografik-carousel-mobile .carousel-item {
  position: absolute;
  margin: auto;
}

#infografik-carousel-mobile .carousel-inner .carousel-item img {
  max-width: 100px;
  max-width: 45vw;
  margin-right: auto;
  margin-left: auto;
}

#infografik-carousel-desktop {
  display: none;
}

@media only screen and (min-width: 800px) {
  #infografik-carousel-mobile,
  #infografik-carousel-mobile .carousel-inner {
    display: none;
    position: static;
  }

  #infografik-carousel-desktop {
    display: block;
    position: relative;
  }

  #infografik-carousel-desktop .carousel-inner {
    position: absolute;
  }

  #infografik-carousel-desktop .carousel-inner {
    background-image: url(../img/infografik-desktop-2/1desktop-infografik-baggrund.png);
    background-size: cover;
    position: static;
  }

  .infografik-mobile-baggrund {
    display: none;
  }
}

/* Karrusel */
#sektion-6 .carousel-dark .carousel-indicators [data-bs-target]:nth-of-type(1) {
  background-color: #5cd8eb;
}
#sektion-6 .carousel-dark .carousel-indicators [data-bs-target]:nth-of-type(2) {
  background-color: #da15cc;
}
#sektion-6 .carousel-dark .carousel-indicators [data-bs-target]:nth-of-type(3) {
  background-color: #ebe23b;
}
#sektion-6 .carousel-dark .carousel-indicators [data-bs-target]:nth-of-type(4) {
  background-color: #8944da;
}
#sektion-6 .carousel-dark .carousel-indicators [data-bs-target]:nth-of-type(5) {
  background-color: #32db41;
}

#sektion-6 .text-m-w {
  max-width: 550px;
}

/* .carousel-control-next-icon {
  background-image: url(
    data:image/svg + xml,
    %3csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 16 16"fill="%23fff"%3e%3cpathstroke="rgb(99,17,218)"d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/%3e%3c/svg%3e
  );
}

.carousel-control-prev-icon {
  background-image: url(
    data:image/svg + xml,
    %3csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 16 16"fill="%23fff"%3e%3cpathd="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/%3e%3c/svg%3e
  );
} */

#sektion-6 .carousel-indicators [data-bs-target] {
  width: 20px;
  height: 10px;
}

.alle-ol-img {
  width: 50%;
}

@media only screen and (min-width: 400px) {
  #sektion-6 .carousel-control-next-icon,
  #sektion-6 .carousel-control-prev-icon {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
  }

  #sektion-6 .carousel-indicators [data-bs-target] {
    width: 50px;
    height: 15px;
  }
}

@media only screen and (min-width: 600px) {
  .alle-ol-img {
    width: 25%;
  }
}
